In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('./data/df_tf_idf.zip')

In [4]:
df.head()

,00,000,000pes,001,00am,00pm,01,0124613103,0125698789,016,...,难得一次,雮挫澕鞚,鞎堧厱,鞎堨潉瓴岇殧,鞓り碃,鞛堨姷雼堧嫟,頃滉淡鞏措ゼ,饮水思源,骨奶,鸿兔大展
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df.shape

(48598, 28292)

In [10]:
df_s = df.sample(n = 28292, random_state = 42)

In [11]:
df_s.head()

,00,000,000pes,001,00am,00pm,01,0124613103,0125698789,016,...,难得一次,雮挫澕鞚,鞎堧厱,鞎堨潉瓴岇殧,鞓り碃,鞛堨姷雼堧嫟,頃滉淡鞏措ゼ,饮水思源,骨奶,鸿兔大展
28005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12266,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45894,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40930,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
X = df_s.drop(columns = 'country')
y = df_s['country']

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, random_state = 42)

In [16]:
model = LogisticRegression(max_iter = 1000)
model.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

In [21]:
Y_test.shape

(7073,)

In [22]:
y_pred_test = model.predict(X_test)
y_pred_train = model.predict(X_train)

In [23]:
baseline = df_s['country'].sample(n = 7073)

In [31]:
train_score = accuracy_score(Y_train, y_pred_train)
print(f'training score is {train_score}')
test_score = accuracy_score(Y_test, y_pred_test)
print(f'testing score is {test_score}')
baseline_score = accuracy_score(Y_test, baseline)
print(f'baseline score is {baseline_score}')

training score is 0.9153588764786277
testing score is 0.6239219567368868
baseline score is 0.27399971723455396