In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('./data/df_tf_idf.zip')

In [3]:
df.head()

,00,000,000pes,001,00am,00pm,01,0124613103,0125698789,016,...,难得一次,雮挫澕鞚,鞎堧厱,鞎堨潉瓴岇殧,鞓り碃,鞛堨姷雼堧嫟,頃滉淡鞏措ゼ,饮水思源,骨奶,鸿兔大展
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.shape

(48598, 28292)

## Sampling the dataset for modeling on home computer.

In [5]:
#If I try to model using the entire dataset, I run into incredibly long processes.
df_s = df.sample(n = 28292, random_state = 42)

In [6]:
X = df_s.drop(columns = 'country')
y = df_s['country']

In [7]:
#basic train-test split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, random_state = 42)

In [ ]:
#with so many observations, increasing maximum iterations is necessary for the model to completely fit.
model = LogisticRegression(max_iter = 1000)
model.fit(X_train, Y_train)

In [ ]:
Y_test.shape

In [ ]:
y_pred_test = model.predict(X_test)
y_pred_train = model.predict(X_train)

In [ ]:
#randomly sample for the purpose of getting a baseline score
baseline = df_s['country'].sample(n = 7073)

In [ ]:
train_score = accuracy_score(Y_train, y_pred_train)
print(f'training score is {train_score}')
test_score = accuracy_score(Y_test, y_pred_test)
print(f'testing score is {test_score}')
baseline_score = accuracy_score(Y_test, baseline)
print(f'baseline score is {baseline_score}')
#very overfit, but it also performs much better than baseline! tuning and different models could result in a better model.